* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(186, 236, 236);
  width: 100%;
  height: 100vh;
}
/* Navbar */
.navigation {
  background-color: black;
}

.navigation > .container {
  max-width: 90%;
  margin: auto;
}
.navigation .navabr {
  position: relative;
}
.navigation .navbar .logo_con {
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translateX(-50%);
}
.navigation .navbar .logo_con a img {
  border-radius: 10px;
margin-top: 8px;
  width: 170px;
  height: 110px;
}
.navigation .navbar .logo_con a {
  display: block;
}
.navigation .menu {
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .navigation .menu {
    display: block !important;
    height: auto !important;
  }
}
.navigation .menu li {
  display: inline-block;
  padding: 43px 10px;
  font-size: 1.6em;
}
.navigation .menu span {
  color: pink;
  display: flex;
  font-family: 'Noto Sans', sans-serif;
  font-size: .6em !important;
}
.navigation .menu li a {
  color: azure;
  display: block;
  padding: 8px 25px;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
}

.navigation .menu li:nth-child(1),
.navigation .menu li:nth-child(2),
.navigation .menu li:nth-child(3) {
  float: left;
}
@media screen and (max-width: 1130px) {
  .navigation .navbar .logo_con {
    position: static;
    transform: translate(0%);
  }
  .navigation .navbar .logo_con a {
    width: 80%;
  }
  .navigation .navbar .logo_con .toggle_box {
    position: absolute;
    right: 10px;
    top: 30px;
    display: block;
    width: 30px;
    background-color: pink;
    padding: 15px 9px;
    cursor: pointer;
    border-radius: 5px;
  }
  .navigation .navbar .logo_con .toggle_box span {
    display: block;
    max-width: 90%;
    margin: auto;
    height: 2px;
    background-color: aliceblue;
    margin-bottom: 4px;
  }
  .navigation .navbar .logo_con .toggle_box span:last-child {
    margin-bottom: 0;
  }
  .navigation .menu {
    text-align: center;
    display: none;
  }
  .navigation .menu li {
    display: block;
    float: none !important;
    padding: 0 10px;
  }
}
